.bg-red {
    background-color: #F44336 !important;
    color: #fff;
}

.bg-red .content .text,
.bg-red .content .number {
    color: #fff !important;
}

.bg-pink {
    background-color: #E91E63 !important;
    color: #fff;
}

.bg-pink .content .text,
.bg-pink .content .number {
    color: #fff !important;
}

.bg-purple {
    background-color: #9C27B0 !important;
    color: #fff;
}

.bg-purple .content .text,
.bg-purple .content .number {
    color: #fff !important;
}

.bg-deep-purple {
    background-color: #673AB7 !important;
    color: #fff;
}

.bg-deep-purple .content .text,
.bg-deep-purple .content .number {
    color: #fff !important;
}

.bg-indigo {
    background-color: #0987c9 !important;
    color: #fff;
}

.bg-indigo .content .text,
.bg-indigo .content .number {
    color: #fff !important;
}

.bg-blue {
    background-color: #006838 !important;
    color: #fff;
}

.bg-blue .content .text,
.bg-blue .content .number {
    color: #fff !important;
}

.bg-light-blue {
    background-color: #03A9F4 !important;
    color: #fff;
}

.bg-light-blue .content .text,
.bg-light-blue .content .number {
    color: #fff !important;
}

.bg-cyan {
    background-color: #00BCD4 !important;
    color: #fff;
}

.bg-cyan .content .text,
.bg-cyan .content .number {
    color: #fff !important;
}

.bg-teal {
    background-color: #009688 !important;
    color: #fff;
}

.bg-teal .content .text,
.bg-teal .content .number {
    color: #fff !important;
}

.bg-green {
    background-color: #4CAF50 !important;
    color: #fff;
}

.bg-green .content .text,
.bg-green .content .number {
    color: #fff !important;
}

.bg-light-green {
    background-color: #8BC34A !important;
    color: #fff;
}

.bg-light-green .content .text,
.bg-light-green .content .number {
    color: #fff !important;
}

.bg-lime {
    background-color: #CDDC39 !important;
    color: #fff;
}

.bg-lime .content .text,
.bg-lime .content .number {
    color: #fff !important;
}

.bg-yellow {
    background-color: #ffe821 !important;
    color: #fff;
}

.bg-yellow .content .text,
.bg-yellow .content .number {
    color: #fff !important;
}

.bg-amber {
    background-color: #FFC107 !important;
    color: #fff;
}

.bg-amber .content .text,
.bg-amber .content .number {
    color: #fff !important;
}

.bg-orange {
    background-color: #FF9800 !important;
    color: #fff;
}

.bg-orange .content .text,
.bg-orange .content .number {
    color: #fff !important;
}

.bg-deep-orange {
    background-color: #FF5722 !important;
    color: #fff;
}

.bg-deep-orange .content .text,
.bg-deep-orange .content .number {
    color: #fff !important;
}

.bg-brown {
    background-color: #795548 !important;
    color: #fff;
}

.bg-brown .content .text,
.bg-brown .content .number {
    color: #fff !important;
}

.bg-grey {
    background-color: #878787 !important;
    color: #fff;
}

.bg-grey .content .text,
.bg-grey .content .number {
    color: #fff !important;
}

.bg-blue-grey {
    background-color: #607D8B !important;
    color: #fff;
}

.bg-blue-grey .content .text,
.bg-blue-grey .content .number {
    color: #fff !important;
}

.bg-black {
    background-color: #000000 !important;
    color: #fff;
}

.bg-black .content .text,
.bg-black .content .number {
    color: #fff !important;
}

.bg-white {
    background-color: #ffffff !important;
    color: #fff;
}

.bg-white .content .text,
.bg-white .content .number {
    color: #fff !important;
}

.col-red {
    color: #F44336 !important;
}

.col-pink {
    color: #E91E63 !important;
}

.col-purple {
    color: #9C27B0 !important;
}

.col-deep-purple {
    color: #673AB7 !important;
}

.col-indigo {
    color: #006838 !important;
}

.col-blue {
    color: #006838 !important;
}

.col-light-blue {
    color: #03A9F4 !important;
}

.col-cyan {
    color: #00BCD4 !important;
}

.col-teal {
    color: #009688 !important;
}

.col-green {
    color: #4CAF50 !important;
}

.col-light-green {
    color: #8BC34A !important;
}

.col-lime {
    color: #CDDC39 !important;
}

.col-yellow {
    color: #ffe821 !important;
}

.col-amber {
    color: #FFC107 !important;
}

.col-orange {
    color: #FF9800 !important;
}

.col-deep-orange {
    color: #FF5722 !important;
}

.col-brown {
    color: #795548 !important;
}

.col-grey {
    color: #9E9E9E !important;
}

.col-blue-grey {
    color: #607D8B !important;
}

.col-black {
    color: #000000 !important;
}

.col-white {
    color: #ffffff !important;
}


/* Custom Animate ============================== */

@-ms-keyframes spin {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(-360deg);
        -moz-transform: rotate(-360deg);
        -o-transform: rotate(-360deg);
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}

@-moz-keyframes spin {
    from {
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(-360deg);
        -ms-transform: rotate(-360deg);
        -o-transform: rotate(-360deg);
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(-360deg);
        -moz-transform: rotate(-360deg);
        -ms-transform: rotate(-360deg);
        -o-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}

@keyframes spin {
    from {
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(-360deg);
        -ms-transform: rotate(-360deg);
        -o-transform: rotate(-360deg);
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}


/* Demo ======================================== */

.demo-button-sizes .btn {
    margin-bottom: 5px;
}

.icon-button-demo button {
    margin-left: 5px;
    margin-bottom: 12px;
}

.icon-and-text-button-demo button {
    margin-left: 5px;
    margin-bottom: 12px;
    width: 16.66666666666667%;
}

.button-demo ul {
    padding-right: 0;
}

.button-demo ul li {
    list-style: none;
    padding-right: 0;
    display: inline-block;
    margin-left: 7px;
}

.button-demo ul li .btn {
    display: block;
    min-width: 175px;
}

.button-demo .btn {
    margin-left: 8px;
    margin-bottom: 13px;
    min-width: 120px;
}

.demo-button-groups .btn-group {
    margin-left: 10px;
}

.demo-button-toolbar .btn-toolbar {
    float: right;
    margin-left: 25px;
}

.demo-button-nesting>.btn-group {
    margin-left: 15px;
}

.demo-single-button-dropdowns>.btn-group {
    margin-left: 10px;
}

.demo-splite-button-dropdowns>.btn-group {
    margin-left: 10px;
}

.demo-dropup .dropup {
    margin-left: 10px;
}

.demo-checkbox label,
.demo-radio-button label {
    min-width: 150px;
}

.demo-knob-chart div {
    margin-left: 15px;
}

.demo-switch .switch {
    display: inline-block;
    min-width: 170px;
}

.demo-switch .demo-switch-title {
    min-width: 95px;
    display: inline-block;
}

.demo-color-box {
    padding: 15px 0;
    text-align: center;
    margin-bottom: 20px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
}

.demo-color-box .color-name {
    font-size: 16px;
    margin-bottom: 5px;
}

.demo-color-box .color-code,
.demo-color-box .color-class-name {
    font-size: 13px;
}

.demo-image-copyright {
    text-align: left;
    font-style: italic;
    font-size: 12px;
    color: #777;
    margin: 5px 0 10px 0;
}

.demo-image-copyright a {
    font-weight: bold;
    color: #555 !important;
}

.demo-tagsinput-area {
    margin-bottom: 50px !important;
}

.demo-icon-container .demo-google-material-icon {
    margin-bottom: 5px;
    text-align: right;
}

.demo-icon-container .demo-google-material-icon .icon-name {
    position: relative;
    top: -8px;
    right: 7px;
}

.demo-icon-container .demo-google-material-icon .material-icons {
    width: 24px;
}

.demo-preloader .preloader {
    margin-left: 10px;
}

.irs-demo {
    margin-bottom: 40px;
}

.irs-demo .irs {
    margin-top: 15px;
}

.right-sidebar .nav-tabs+.tab-content {
    padding: 0;
}

.right-sidebar p {
    margin: 20px 15px 15px 15px;
    font-weight: bold;
    text-align: center;
}

.right-sidebar #settings .setting-list {
    list-style: none;
    padding-right: 0;
    margin-bottom: 20px;
}

.right-sidebar #settings .setting-list li {
    padding: 15px;
    position: relative;
    border-top: 1px solid #eee;
}

.right-sidebar #settings .setting-list li .switch {
    position: absolute;
    top: 15px;
    left: 5px;
}

.demo-choose-skin {
    list-style: none;
    padding-right: 0;
    overflow-y: hidden;
}

.demo-choose-skin li {
    border-bottom: 1px solid #eee;
    padding: 10px 10px 4px 10px;
    position: relative;
    cursor: pointer;
}

.demo-choose-skin li.active {
    background-color: #eee;
}

.demo-choose-skin li.active:after {
    font-family: 'Material Icons';
    position: absolute;
    top: 10px;
    left: 10px;
    content: '\E876';
    font-size: 18px;
    font-weight: bold;
}

.demo-choose-skin li:hover {
    background-color: #eee;
}

.demo-choose-skin li div {
    width: 24px;
    height: 24px;
    display: inline-block;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
}

.demo-choose-skin li span {
    position: relative;
    bottom: 7px;
    right: 5px;
}

.demo-choose-skin .red {
    background-color: #F44336;
}

.demo-choose-skin .pink {
    background-color: #E91E63;
}

.demo-choose-skin .purple {
    background-color: #9C27B0;
}

.demo-choose-skin .deep-purple {
    background-color: #673AB7;
}

.demo-choose-skin .indigo {
    background-color: #006838;
}

.demo-choose-skin .blue {
    background-color: #006838;
}

.demo-choose-skin .light-blue {
    background-color: #03A9F4;
}

.demo-choose-skin .cyan {
    background-color: #00BCD4;
}

.demo-choose-skin .teal {
    background-color: #009688;
}

.demo-choose-skin .green {
    background-color: #4CAF50;
}

.demo-choose-skin .light-green {
    background-color: #8BC34A;
}

.demo-choose-skin .lime {
    background-color: #CDDC39;
}

.demo-choose-skin .yellow {
    background-color: #ffe821;
}

.demo-choose-skin .amber {
    background-color: #FFC107;
}

.demo-choose-skin .orange {
    background-color: #FF9800;
}

.demo-choose-skin .deep-orange {
    background-color: #FF5722;
}

.demo-choose-skin .brown {
    background-color: #795548;
}

.demo-choose-skin .grey {
    background-color: #9E9E9E;
}

.demo-choose-skin .blue-grey {
    background-color: #607D8B;
}

.demo-choose-skin .black {
    background-color: #000000;
}

.demo-choose-skin .white {
    background-color: #ffffff;
}


/* Materialize Css | Taken from www.materializecss.com */


/* Media ======================================= */

@media (max-width: 767px) {
    .navbar>.container .navbar-brand,
    .navbar>.container-fluid .navbar-brand {
        margin-right: 35px;
        width: 73%;
    }
    .navbar .navbar-header {
        display: inline-block;
        margin-bottom: -6px;
        width: calc(100% + 30px);
    }
    .navbar .nav>li {
        display: inline-block;
    }
    .navbar .navbar-nav {
        margin-top: -10px;
        margin-bottom: 1px;
        margin-right: -7px;
    }
    .navbar .navbar-nav .open .dropdown-menu {
        background-color: #fff;
        position: absolute;
    }
    .navbar .dropdown-menu {
        margin-right: -50px;
    }
    .navbar .js-right-sidebar {
        margin-top: 15px;
    }
    .dt-buttons {
        float: none !important;
        text-align: center;
        margin-bottom: 15px;
    }
    .panel-switch-btn {
        top: 12px;
        left: 0 !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .navbar>.container .navbar-brand,
    .navbar>.container-fluid .navbar-brand {
        margin-right: 20px;
    }
}

@media (min-width: 992px) and (max-width: 1169px) {
    .navbar>.container .navbar-brand,
    .navbar>.container-fluid .navbar-brand {
        margin-right: 20px;
    }
}


/* General ===================================== */

body {
    background-color: #e9e9e9;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    direction: rtl;
    font-family: 'Hacen Maghreb Lt', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}

button,
input,
select,
a {
    outline: none !important;
}

.no-animate {
    -o-transition-property: none !important;
    -moz-transition-property: none !important;
    -ms-transition-property: none !important;
    -webkit-transition-property: none !important;
    transition-property: none !important;
    -o-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    -webkit-animation: none !important;
    -moz-animation: none !important;
    -o-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
}

section.content {
    margin: 100px 315px 0 15px;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}


/* Dashboard =================================== */

.dashboard-flot-chart {
    height: 275px;
}

.dashboard-donut-chart {
    height: 265px;
}

.dashboard-line-chart {
    height: 250px;
}

.dashboard-stat-list {
    list-style: none;
    padding-right: 0;
    margin-top: 40px;
}

.dashboard-stat-list li {
    padding: 16px 0 0 0;
}

.dashboard-stat-list li small {
    font-size: 8px;
}

.dashboard-task-infos .progress {
    height: 10px;
    margin-bottom: 0;
    position: relative;
    top: 6px;
}


/* Buttons ===================================== */

.btn:focus {
    outline: none !important;
}

.btn-circle {
    border: none;
    outline: none !important;
    overflow: hidden;
    width: 40px;
    height: 40px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}

.btn-circle i {
    font-size: 18px;
    position: relative;
    right: -1px;
}

.btn-link {
    font-weight: bold;
    color: #333;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.btn-link:active,
.btn-link:focus {
    text-decoration: none;
    color: #333;
}

.btn-link:hover {
    text-decoration: none;
    color: #333;
    background-color: #ddd;
}

.btn-circle-lg {
    border: none;
    outline: none !important;
    overflow: hidden;
    width: 50px;
    height: 50px;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    -ms-border-radius: 50% !important;
    border-radius: 50% !important;
}

.btn-circle-lg i {
    font-size: 26px !important;
    position: relative !important;
    right: 0px !important;
    top: 6px !important;
}

.btn:not(.btn-link):not(.btn-circle) {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
    border: none;
    font-size: 13px;
    outline: none;
}

.btn:not(.btn-link):not(.btn-circle):hover {
    outline: none;
}

.btn:not(.btn-link):not(.btn-circle) i {
    font-size: 20px;
    position: relative;
    /* top: 3px; */
}

.btn:not(.btn-link):not(.btn-circle) span {
    position: relative;
    top: -2px;
    margin-right: 3px;
}

.btn-warning,
.btn-warning:hover,
.btn-warning:active,
.btn-warning:focus {
    background-color: #ff9600 !important;
}

.btn-danger,
.btn-danger:hover,
.btn-danger:active,
.btn-danger:focus {
    background-color: #fb483a !important;
}

.btn-info,
.btn-info:hover,
.btn-info:active,
.btn-info:focus {
    background-color: #00b0e4 !important;
}

.btn-success,
.btn-success:hover,
.btn-success:active,
.btn-success:focus {
    background-color: #2b982b !important;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
    background-color: #f39200 !important;
    color: #fff !important;
    font-size: 13px;
}

.btn-default,
.btn-default:hover,
.btn-default:active,
.btn-default:focus {
    background-color: #fff !important;
}

.btn-group,
.btn-group-vertical {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
}

.btn-group .btn,
.btn-group-vertical .btn {
    box-shadow: none !important;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
}

.btn-group .btn .caret,
.btn-group-vertical .btn .caret {
    position: relative;
    bottom: 1px;
}

.btn-group .btn-group,
.btn-group-vertical .btn-group {
    box-shadow: none !important;
}

.btn-group .btn+.dropdown-toggle,
.btn-group-vertical .btn+.dropdown-toggle {
    border-right: 1px solid rgba(0, 0, 0, 0.08) !important;
}


/* Bootstrap Tags Input ======================== */

.bootstrap-tagsinput {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    -ms-box-shadow: none !important;
    box-shadow: none !important;
    border: none !important;
}


/* noUISlider ================================== */

.noUi-target {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -ms-touch-action: none;
    touch-action: none;
    -ms-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    direction: rtl;
}

.noUi-target * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -ms-touch-action: none;
    touch-action: none;
    -ms-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.noUi-base {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}

.noUi-origin {
    position: absolute;
    left: 0;
    top: 6px;
    right: 0;
    bottom: 0;
}

.noUi-handle {
    position: relative;
    z-index: 1;
}

.noUi-stacking .noUi-handle {
    z-index: 10;
}

.noUi-state-tap .noUi-origin {
    -webkit-transition: right 0.25s, top 0.25s;
    transition: right 0.25s, top 0.25s;
}

.noUi-state-drag * {
    cursor: inherit !important;
}

.noUi-base {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.noUi-horizontal {
    height: 18px;
}

.noUi-horizontal .noUi-handle {
    width: 34px;
    height: 28px;
    right: -17px;
    top: -6px;
}

.noUi-vertical {
    width: 18px;
}

.noUi-vertical .noUi-handle {
    width: 28px;
    height: 34px;
    right: -6px;
    top: -17px;
}

.noUi-background {
    background: #FAFAFA;
    box-shadow: inset 0 1px 1px #f0f0f0;
}

.noUi-connect {
    background: #3FB8AF;
    box-shadow: inset 0 0 3px rgba(51, 51, 51, 0.45);
    -webkit-transition: background 450ms;
    transition: background 450ms;
}

.noUi-origin {
    border-radius: 2px;
}

.noUi-target {
    border-radius: 4px;
    border: 1px solid #D3D3D3;
    box-shadow: inset 0 1px 1px #F0F0F0, 0 3px 6px -5px #BBB;
}

.noUi-target.noUi-connect {
    box-shadow: inset 0 0 3px rgba(51, 51, 51, 0.45), 0 3px 6px -5px #BBB;
}

.noUi-dragable {
    cursor: w-resize;
}

.noUi-vertical .noUi-dragable {
    cursor: n-resize;
}

.noUi-handle {
    border: 1px solid #D9D9D9;
    border-radius: 3px;
    background: #FFF;
    cursor: default;
    box-shadow: inset 0 0 1px #FFF, inset 0 1px 7px #EBEBEB, 0 3px 6px -3px #BBB;
}

.noUi-active {
    box-shadow: inset 0 0 1px #FFF, inset 0 1px 7px #DDD, 0 3px 6px -3px #BBB;
}

.noUi-handle:before {
    content: "";
    display: block;
    position: absolute;
    height: 14px;
    width: 1px;
    background: #E8E7E6;
    right: 14px;
    top: 6px;
}

.noUi-handle:after {
    content: "";
    display: block;
    position: absolute;
    height: 14px;
    width: 1px;
    background: #E8E7E6;
    right: 14px;
    top: 6px;
    right: 17px;
}

.noUi-vertical .noUi-handle:before {
    width: 14px;
    height: 1px;
    right: 6px;
    top: 14px;
}

.noUi-vertical .noUi-handle:after {
    width: 14px;
    height: 1px;
    right: 6px;
    top: 14px;
    top: 17px;
}

[disabled].noUi-connect,
[disabled] .noUi-connect {
    background: #B8B8B8;
}

[disabled].noUi-origin,
[disabled] .noUi-handle {
    cursor: not-allowed;
}

.noUi-target {
    box-shadow: none;
    border: none;
}

.noUi-base {
    height: 15px;
    top: -6px;
}

.noUi-background {
    height: 3px;
    top: 6px;
    background-color: #bfbfbf;
    box-shadow: none;
}

.noUi-horizontal {
    height: 3px;
}

.noUi-connect {
    height: 3px;
    top: 6px;
    background-color: #26A69A;
    box-shadow: none;
}

.noUi-horizontal .noUi-handle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    box-shadow: none;
    background-color: #26A69A;
    border: none;
    right: -5px;
    top: -6px;
    transition: width 0.2s cubic-bezier(0.215, 0.61, 0.355, 1), height 0.2s cubic-bezier(0.215, 0.61, 0.355, 1), right 0.2s cubic-bezier(0.215, 0.61, 0.355, 1), top 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.noUi-handle:before,
.noUi-handle:after {
    content: none;
}

.noUi-target .noUi-active.noUi-handle {
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    -ms-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.noUi-target .range-label {
    position: absolute;
    height: 30px;
    width: 30px;
    top: -17px;
    right: -2px;
    background-color: #26A69A;
    border-radius: 50%;
    transition: border-radius 0.25s cubic-bezier(0.215, 0.61, 0.355, 1), transform 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: scale(0.5) rotate(45deg);
    transform-origin: 50% 100%;
}

.noUi-target .noUi-active .range-label {
    border-radius: 15px 15px 0 15px;
    transform: rotate(45deg) translate(-23px, -25px);
}

.range-label span {
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 12px;
    transform: rotate(-45deg);
    opacity: 0;
    position: absolute;
    top: 7px;
    right: -1px;
    transition: opacity 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.noUi-active .range-label span {
    opacity: 1;
}


/* Multi Select ================================ */

.ms-container {
    width: auto !important;
}

.ms-container .ms-list {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    -ms-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -ms-border-radius: 0 !important;
    border-radius: 0 !important;
}

.ms-container .ms-list.ms-focus {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    -ms-box-shadow: none !important;
    box-shadow: none !important;
}

.ms-container .ms-selectable,
.ms-container .ms-selection {
    min-width: 250px !important;
}

.ms-container .ms-selectable li.ms-hover,
.ms-container .ms-selection li.ms-hover {
    color: #000000 !important;
    background-color: #e6e6e6 !important;
}

.ms-container .ms-selectable li.ms-elem-selectable,
.ms-container .ms-selectable li.ms-elem-selection,
.ms-container .ms-selection li.ms-elem-selectable,
.ms-container .ms-selection li.ms-elem-selection {
    padding: 9px 15px 6px 15px !important;
}

.ms-container .ms-optgroup-label {
    padding: 5px 8px 0 0 !important;
}


/* Card ======================================== */

.card {
    background: #fff;
    min-height: 50px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    margin-bottom: 30px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
}

.card .card-inside-title {
    margin-top: 25px;
    margin-bottom: 15px;
    display: block;
    font-size: 15px;
    color: #000;
}

.card .card-inside-title small {
    color: #999;
    display: block;
    font-size: 11px;
    margin-top: 5px;
}

.card .card-inside-title small a {
    color: #777;
    font-weight: bold;
}

.card .card-inside-title:first-child {
    margin-top: 0;
}

.card .bg-red,
.card .bg-pink,
.card .bg-purple,
.card .bg-deep-purple,
.card .bg-indigo,
.card .bg-blue,
.card .bg-light-blue,
.card .bg-cyan,
.card .bg-teal,
.card .bg-green,
.card .bg-light-green,
.card .bg-lime,
.card .bg-yellow,
.card .bg-amber,
.card .bg-orange,
.card .bg-deep-orange,
.card .bg-brown,
.card .bg-grey,
.card .bg-blue-grey,
.card .bg-black {
    border-bottom: none !important;
    color: #fff !important;
}

.card .bg-red h2,
.card .bg-red small,
.card .bg-red .material-icons,
.card .bg-pink h2,
.card .bg-pink small,
.card .bg-pink .material-icons,
.card .bg-purple h2,
.card .bg-purple small,
.card .bg-purple .material-icons,
.card .bg-deep-purple h2,
.card .bg-deep-purple small,
.card .bg-deep-purple .material-icons,
.card .bg-indigo h2,
.card .bg-indigo small,
.card .bg-indigo .material-icons,
.card .bg-blue h2,
.card .bg-blue small,
.card .bg-blue .material-icons,
.card .bg-light-blue h2,
.card .bg-light-blue small,
.card .bg-light-blue .material-icons,
.card .bg-cyan h2,
.card .bg-cyan small,
.card .bg-cyan .material-icons,
.card .bg-teal h2,
.card .bg-teal small,
.card .bg-teal .material-icons,
.card .bg-green h2,
.card .bg-green small,
.card .bg-green .material-icons,
.card .bg-light-green h2,
.card .bg-light-green small,
.card .bg-light-green .material-icons,
.card .bg-lime h2,
.card .bg-lime small,
.card .bg-lime .material-icons,
.card .bg-yellow h2,
.card .bg-yellow small,
.card .bg-yellow .material-icons,
.card .bg-amber h2,
.card .bg-amber small,
.card .bg-amber .material-icons,
.card .bg-orange h2,
.card .bg-orange small,
.card .bg-orange .material-icons,
.card .bg-deep-orange h2,
.card .bg-deep-orange small,
.card .bg-deep-orange .material-icons,
.card .bg-brown h2,
.card .bg-brown small,
.card .bg-brown .material-icons,
.card .bg-grey h2,
.card .bg-grey small,
.card .bg-grey .material-icons,
.card .bg-blue-grey h2,
.card .bg-blue-grey small,
.card .bg-blue-grey .material-icons,
.card .bg-black h2,
.card .bg-black small,
.card .bg-black .material-icons {
    color: #fff !important;
}

.card .bg-red .badge,
.card .bg-pink .badge,
.card .bg-purple .badge,
.card .bg-deep-purple .badge,
.card .bg-indigo .badge,
.card .bg-blue .badge,
.card .bg-light-blue .badge,
.card .bg-cyan .badge,
.card .bg-teal .badge,
.card .bg-green .badge,
.card .bg-light-green .badge,
.card .bg-lime .badge,
.card .bg-yellow .badge,
.card .bg-amber .badge,
.card .bg-orange .badge,
.card .bg-deep-orange .badge,
.card .bg-brown .badge,
.card .bg-grey .badge,
.card .bg-blue-grey .badge,
.card .bg-black .badge {
    background-color: #fff;
    color: #555;
}

.card .header {
    color: #555;
    padding: 20px;
    position: relative;
    direction: rtl;
    border-bottom: 1px solid rgba(204, 204, 204, 0.35);
}

.card .header .header-dropdown {
    position: absolute;
    top: 20px;
    left: 15px;
    list-style: none;
}

.card .header .header-dropdown .dropdown-menu li {
    display: block !important;
}

.card .header .header-dropdown li {
    display: inline-block;
}

.card .header .header-dropdown i {
    font-size: 20px;
    color: #999;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.card .header .header-dropdown i:hover {
    color: #000;
}

.card .header h2 {
    margin: 0;
    font-size: 18px;
    font-weight: normal;
    color: #111;
}

.card .header h2 small {
    display: block;
    font-size: 12px;
    margin-top: 5px;
    color: #999;
    line-height: 15px;
}

.card .header h2 small a {
    font-weight: bold;
    color: #777;
}

.card .header .col-xs-12 h2 {
    margin-top: 5px;
}

.card .body {
    font-size: 14px;
    color: #555;
    padding: 20px;
}

.card .body .col-xs-1,
.card .body .col-sm-1,
.card .body .col-md-1,
.card .body .col-lg-1 {
    margin-bottom: 20px;
}

.card .body .col-xs-2,
.card .body .col-sm-2,
.card .body .col-md-2,
.card .body .col-lg-2 {
    margin-bottom: 20px;
}

.card .body .col-xs-3,
.card .body .col-sm-3,
.card .body .col-md-3,
.card .body .col-lg-3 {
    margin-bottom: 20px;
}

.card .body .col-xs-4,
.card .body .col-sm-4,
.card .body .col-md-4,
.card .body .col-lg-4 {
    margin-bottom: 20px;
}

.card .body .col-xs-5,
.card .body .col-sm-5,
.card .body .col-md-5,
.card .body .col-lg-5 {
    margin-bottom: 20px;
}

.card .body .col-xs-6,
.card .body .col-sm-6,
.card .body .col-md-6,
.card .body .col-lg-6 {
    margin-bottom: 20px;
}

.card .body .col-xs-7,
.card .body .col-sm-7,
.card .body .col-md-7,
.card .body .col-lg-7 {
    margin-bottom: 20px;
}

.card .body .col-xs-8,
.card .body .col-sm-8,
.card .body .col-md-8,
.card .body .col-lg-8 {
    margin-bottom: 20px;
}

.card .body .col-xs-9,
.card .body .col-sm-9,
.card .body .col-md-9,
.card .body .col-lg-9 {
    margin-bottom: 20px;
}

.card .body .col-xs-10,
.card .body .col-sm-10,
.card .body .col-md-10,
.card .body .col-lg-10 {
    margin-bottom: 20px;
}

.card .body .col-xs-11,
.card .body .col-sm-11,
.card .body .col-md-11,
.card .body .col-lg-11 {
    margin-bottom: 20px;
}

.card .body .col-xs-12,
.card .body .col-sm-12,
.card .body .col-md-12,
.card .body .col-lg-12 {
    margin-bottom: 20px;
}


/* Infobox ===================================== */

.info-box {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    height: 80px;
    display: flex;
    cursor: default;
    background-color: #fff;
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
}

.info-box .icon {
    display: inline-block;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.12);
    width: 80px;
}

.info-box .icon i {
    color: #fff;
    font-size: 50px;
    line-height: 80px;
}

.info-box .icon .chart.chart-bar {
    height: 100%;
    line-height: 100px;
}

.info-box .icon .chart.chart-bar canvas {
    vertical-align: baseline !important;
}

.info-box .icon .chart.chart-pie {
    height: 100%;
    line-height: 123px;
}

.info-box .icon .chart.chart-pie canvas {
    vertical-align: baseline !important;
}

.info-box .icon .chart.chart-line {
    height: 100%;
    line-height: 115px;
}

.info-box .icon .chart.chart-line canvas {
    vertical-align: baseline !important;
}

.info-box .content {
    display: inline-block;
    padding: 7px 10px;
}

.info-box .content .text {
    font-size: 13px;
    margin-top: 11px;
    color: #555;
}

.info-box .content .number {
    font-weight: normal;
    font-size: 26px;
    margin-top: -4px;
    color: #555;
}

.info-box.hover-zoom-effect .icon {
    overflow: hidden;
}

.info-box.hover-zoom-effect .icon i {
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.info-box.hover-zoom-effect:hover .icon i {
    opacity: 0.4;
    -moz-transform: rotate(32deg) scale(1.4);
    -ms-transform: rotate(32deg) scale(1.4);
    -o-transform: rotate(32deg) scale(1.4);
    -webkit-transform: rotate(32deg) scale(1.4);
    transform: rotate(32deg) scale(1.4);
}

.info-box.hover-expand-effect:after {
    background-color: rgba(0, 0, 0, 0.05);
    content: ".";
    position: absolute;
    right: 80px;
    top: 0;
    width: 0;
    height: 100%;
    color: transparent;
    -moz-transition: all 0.95s;
    -o-transition: all 0.95s;
    -webkit-transition: all 0.95s;
    transition: all 0.95s;
}

.info-box.hover-expand-effect:hover:after {
    width: 100%;
}

.info-box-2 {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    height: 80px;
    display: flex;
    cursor: default;
    background-color: #fff;
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
}

.info-box-2 .icon {
    display: inline-block;
    text-align: center;
    width: 80px;
}

.info-box-2 .icon i {
    color: #fff;
    font-size: 50px;
    line-height: 80px;
}

.info-box-2 .chart.chart-bar {
    height: 100%;
    line-height: 105px;
}

.info-box-2 .chart.chart-bar canvas {
    vertical-align: baseline !important;
}

.info-box-2 .chart.chart-pie {
    height: 100%;
    line-height: 123px;
}

.info-box-2 .chart.chart-pie canvas {
    vertical-align: baseline !important;
}

.info-box-2 .chart.chart-line {
    height: 100%;
    line-height: 115px;
}

.info-box-2 .chart.chart-line canvas {
    vertical-align: baseline !important;
}

.info-box-2 .content {
    display: inline-block;
    padding: 7px 10px;
}

.info-box-2 .content .text {
    font-size: 13px;
    margin-top: 11px;
    color: #555;
}

.info-box-2 .content .number {
    font-weight: normal;
    font-size: 26px;
    margin-top: -4px;
    color: #555;
}

.info-box-2.hover-zoom-effect .icon {
    overflow: hidden;
}

.info-box-2.hover-zoom-effect .icon i {
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.info-box-2.hover-zoom-effect:hover .icon i {
    opacity: 0.4;
    -moz-transform: rotate(32deg) scale(1.4);
    -ms-transform: rotate(32deg) scale(1.4);
    -o-transform: rotate(32deg) scale(1.4);
    -webkit-transform: rotate(32deg) scale(1.4);
    transform: rotate(32deg) scale(1.4);
}

.info-box-2.hover-expand-effect:after {
    background-color: rgba(0, 0, 0, 0.05);
    content: ".";
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
    height: 100%;
    color: transparent;
    -moz-transition: all 0.95s;
    -o-transition: all 0.95s;
    -webkit-transition: all 0.95s;
    transition: all 0.95s;
}

.info-box-2.hover-expand-effect:hover:after {
    width: 100%;
}

.info-box-3 {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    height: 80px;
    display: flex;
    cursor: default;
    background-color: #fff;
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
}

.info-box-3 .icon {
    position: absolute;
    left: 10px;
    bottom: 2px;
    text-align: center;
}

.info-box-3 .icon i {
    color: rgba(0, 0, 0, 0.15);
    font-size: 60px;
}

.info-box-3 .chart {
    margin-left: 5px;
}

.info-box-3 .chart.chart-bar {
    height: 100%;
    line-height: 50px;
}

.info-box-3 .chart.chart-bar canvas {
    vertical-align: baseline !important;
}

.info-box-3 .chart.chart-pie {
    height: 100%;
    line-height: 34px;
}

.info-box-3 .chart.chart-pie canvas {
    vertical-align: baseline !important;
}

.info-box-3 .chart.chart-line {
    height: 100%;
    line-height: 40px;
}

.info-box-3 .chart.chart-line canvas {
    vertical-align: baseline !important;
}

.info-box-3 .content {
    display: inline-block;
    padding: 7px 16px;
}

.info-box-3 .content .text {
    font-size: 13px;
    margin-top: 11px;
    color: #555;
}

.info-box-3 .content .number {
    font-weight: normal;
    font-size: 26px;
    margin-top: -4px;
    color: #555;
}

.info-box-3.hover-zoom-effect .icon i {
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.info-box-3.hover-zoom-effect:hover .icon i {
    opacity: 0.4;
    -moz-transform: rotate(32deg) scale(1.4);
    -ms-transform: rotate(32deg) scale(1.4);
    -o-transform: rotate(32deg) scale(1.4);
    -webkit-transform: rotate(32deg) scale(1.4);
    transform: rotate(32deg) scale(1.4);
}

.info-box-3.hover-expand-effect:after {
    background-color: rgba(0, 0, 0, 0.05);
    content: ".";
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
    height: 100%;
    color: transparent;
    -moz-transition: all 0.95s;
    -o-transition: all 0.95s;
    -webkit-transition: all 0.95s;
    transition: all 0.95s;
}

.info-box-3.hover-expand-effect:hover:after {
    width: 100%;
}

.info-box-4 {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    height: 80px;
    display: flex;
    cursor: default;
    background-color: #fff;
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
}

.info-box-4 .icon {
    position: absolute;
    left: 10px;
    bottom: 2px;
    text-align: center;
}

.info-box-4 .icon i {
    color: rgba(0, 0, 0, 0.15);
    font-size: 60px;
}

.info-box-4 .chart {
    margin-left: 5px;
}

.info-box-4 .chart.chart-bar {
    height: 100%;
    line-height: 50px;
}

.info-box-4 .chart.chart-bar canvas {
    vertical-align: baseline !important;
}

.info-box-4 .chart.chart-pie {
    height: 100%;
    line-height: 34px;
}

.info-box-4 .chart.chart-pie canvas {
    vertical-align: baseline !important;
}

.info-box-4 .chart.chart-line {
    height: 100%;
    line-height: 40px;
}

.info-box-4 .chart.chart-line canvas {
    vertical-align: baseline !important;
}

.info-box-4 .content {
    display: inline-block;
    padding: 7px 16px;
}

.info-box-4 .content .text {
    font-size: 13px;
    margin-top: 11px;
    color: #555;
}

.info-box-4 .content .number {
    font-weight: normal;
    font-size: 26px;
    margin-top: -4px;
    color: #555;
}

.info-box-4.hover-zoom-effect .icon i {
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.info-box-4.hover-zoom-effect:hover .icon i {
    opacity: 0.4;
    -moz-transform: rotate(32deg) scale(1.4);
    -ms-transform: rotate(32deg) scale(1.4);
    -o-transform: rotate(32deg) scale(1.4);
    -webkit-transform: rotate(32deg) scale(1.4);
    transform: rotate(32deg) scale(1.4);
}

.info-box-4.hover-expand-effect:after {
    background-color: rgba(0, 0, 0, 0.05);
    content: ".";
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
    height: 100%;
    color: transparent;
    -moz-transition: all 0.95s;
    -o-transition: all 0.95s;
    -webkit-transition: all 0.95s;
    transition: all 0.95s;
}

.info-box-4.hover-expand-effect:hover:after {
    width: 100%;
}